# --- ROS ---
ros/build/
ros/devel/
ros/install/
*.log

# --- Unity ---
unity/Library/
unity/Temp/
unity/Obj/
unity/Build/
unity/Builds/
unity/Logs/
unity/UserSettings/
unity/MemoryCaptures/

# IDE/editor files
*.swp
*.swo
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Unity project files not needed
unity/*.csproj
unity/*.sln
unity/*.user
unity/*.userprefs
unity/*.pidb
